# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

CLIENT_ID="ATc8J6S65IXV2TvSY82_YAjaiv6CnFfyj4iDrhj-HH_FTEYgN1X7NnvNXICN_s133E0LWqm1ruF3lcVL"
APP_SECRET="EIO0Z8s3b5KevXs0PnGZQ2ijZTJlGffLCpGS5BHGkIlY9G6rURdRcS8XFMRDqroP0IWZSRVSgxxt4HgU"
